<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <title>Menu</title>
</head>

<body>
    <% items.forEach(function(item){%>
        <div class="card" style="width: 18rem;">
            <!-- <img src="/<%=item.image%>" class="card-img-top" alt="..."> -->
            <img src="/uploads/<%=item.image%>" class="card-img-top" alt="...">
            <!-- <img src="/public/uploads/file-1648877699006.jpg" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title"><%=item.name%></h5>
                <p class="card-text"><%=item.description%></p>
                    <p>price :<%=item.price%></p>
               <button  data-item="<%=JSON.stringify(item)%>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span></button>
            </div>
        </div>
    <%})
    %>
        </div>
    </section>
</body>

</html>


